black
# cryptography 39.x removes a lot of platform support, beware
cryptography~=38.0.4
construct~=2.10.61
isort~=5.6
# TODO: update to psycopg[c] 3.1
psycopg2~=2.9.6
pytest~=7.3
pytest-asyncio~=0.21.0
